<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>denimBlueColor</string>
		<key>visibleName</key>
		<string>Blue</string>
		<key>hexColor</key>
		<string>0x0066cc</string>
	</dict>
	<dict>
		<key>id</key>
		<string>royalBlueColor</string>
		<key>visibleName</key>
		<string>Royal Blue</string>
		<key>hexColor</key>
		<string>0x4169e1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>steelBlueColor</string>
		<key>visibleName</key>
		<string>Steel Blue</string>
		<key>hexColor</key>
		<string>0x4682b4</string>
	</dict>
	<dict>
		<key>id</key>
		<string>slateGrayColor</string>
		<key>visibleName</key>
		<string>Gray</string>
		<key>hexColor</key>
		<string>0x708090</string>
	</dict>
	<dict>
		<key>id</key>
		<string>silverColor</string>
		<key>visibleName</key>
		<string>Silver</string>
		<key>hexColor</key>
		<string>0xc0c0c0</string>
	</dict>
	<dict>
		<key>id</key>
		<string>vanillaColor</string>
		<key>visibleName</key>
		<string>Gold</string>
		<key>hexColor</key>
		<string>0xccbbaa</string>
	</dict>
	<dict>
		<key>id</key>
		<string>taupeGrayColor</string>
		<key>visibleName</key>
		<string>Slate Gray</string>
		<key>hexColor</key>
		<string>0x888888</string>
	</dict>
	<dict>
		<key>id</key>
		<string>greenColor</string>
		<key>visibleName</key>
		<string>Green</string>
		<key>hexColor</key>
		<string>0x32cd32</string>
	</dict>
	<dict>
		<key>id</key>
		<string>goldColor</string>
		<key>visibleName</key>
		<string>Yellow</string>
		<key>hexColor</key>
		<string>0xffd700</string>
	</dict>
	<dict>
		<key>id</key>
		<string>orangeColor</string>
		<key>visibleName</key>
		<string>Orange</string>
		<key>hexColor</key>
		<string>0xffa500</string>
	</dict>
	<dict>
		<key>id</key>
		<string>brownColor</string>
		<key>visibleName</key>
		<string>Brown</string>
		<key>hexColor</key>
		<string>0xa52a2a</string>
	</dict>
	<dict>
		<key>id</key>
		<string>redColor</string>
		<key>visibleName</key>
		<string>Red</string>
		<key>hexColor</key>
		<string>0xFF0000</string>
	</dict>
	<dict>
		<key>id</key>
		<string>salmonColor</string>
		<key>visibleName</key>
		<string>Pink</string>
		<key>hexColor</key>
		<string>0xfa8072</string>
	</dict>
	<dict>
		<key>id</key>
		<string>orchidColor</string>
		<key>visibleName</key>
		<string>Purple</string>
		<key>hexColor</key>
		<string>0xda70d6</string>
	</dict>
</array>
</plist>
